header {
    padding: 2rem;
    background-color: gray;
}

footer {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.site-size {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.sign-in,
.travel-for-sale-container {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    align-items: center;
    border: 2px black solid;
}

.travel-for-sale-container img {
    width: 100%;
}

.sign-in {
    background-color: gray;
    padding: 0.5rem;
    align-items: center;
    display: flex;
}

input {
    padding: 0.2rem;
    width: 15rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

#addComent{
    line-height: 20px;
    margin-bottom: 15px;
    background-color: gray;
    align-items: center;
    text-align: center;
    width: 30%;
    border: 2px black solid;
}

textarea{
    max-width: 100px;
}

#create-login-button, .buy-buttom{
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    padding: 0.2em;
}

#create-login-button:hover{
    box-shadow: 0 0 40px 40px #EEAD0E inset;
    border: 2px solid black;
    font-weight: bold;
}

.buy-buttom:hover{
    box-shadow: 0 0 40px 40px #EEAD0E inset;
    border: 2px solid black;
    font-weight: bold;
}

#h2-create-user{
    font-size: 1.3rem;
    font-weight: bold;
}

.hotelStars{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-bottom: 2%;
}