header img{
    width: 100%;
    height: 615px;
    object-fit: cover;
    object-position: center;
    margin-top: 0;
    display: flex;
}

#go-down-button{
    font-size: 90px;
    position: absolute;
    left: 47vw;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}