header img {
    width: 100%;
    height: 615px;
    object-fit: cover;
    object-position: center;
    margin-top: 0;
    display: flex;
}

#go-down-button {
    font-size: 90px;
    position: absolute;
    left: 47vw;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.site-size {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.options {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    width: 99%;
}

.option-box-container {
    justify-content: center;
    padding: 1rem;
    width: 30%;
    height: 10%;
    border: 1px;
    flex-direction: row;
    text-align: center;
}

.option-box-container > a {
    color: white;
}

.box-container img {
    display: flex;
    width: 100%;
    align-content: center;
}

.box-container {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    align-items: center;
    border: 2px black solid;
}

.box-container p {
    text-align: justify;
    text-indent: 25px;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#textarea-first-article-h3 {
    text-align: center;
}

#benefits-space {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

nav {
    width: 100%;
    background-color: gray;
    font-size: 20px;
}

.option-box-container :hover,
:link {
    color: #EEAD0E;
    text-decoration: none;
}

welcomeImg {
    margin-top: 50px;
}

#anti-covid-19-pic {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

footer {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.title {
    background-color: gray;
    font-size: 1.5em;
    position: absolute;
    color:black;
    text-align: center;
    margin-left: 80px;
    top: 100px;
    width: 400px;
    line-height: 30px;
    height: 80px;
    font-family: 'Ranchers', cursive;
    word-spacing: 15px;
}

/* Tamanho do título e botão para dispositivos mobile */
@media only screen and (max-width: 320px){
    .title{
    background-color: gray;
    font-size: 0.9em;
    position: absolute;
    color:black;
    text-align: center;
    margin-left:25px;
    top: 70px;
    width: 250px;
    height: 70px;
    font-family: 'Ranchers', cursive;
    word-spacing: 15px;
    }

    #go-down-button {
        font-size: 80px;
        position: absolute;
        left: 128px;
        bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}